<div class='ui container'>
  <h1><%= @trip.id ? 'Edit Trip' : 'New Trip' %></h1>
  <%= form_for @trip, html: {class: 'ui form'} do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true %>
  <br/>
  <%= f.label :date %>
  <%= f.date_field :date, value: @trip.date %>
  <br/>
  <br/>
  <%= f.submit class: 'ui positive button'%>
  <% end %>
</div>
