<div class='ui container'>
  <h1><%= @location.id ? 'Edit Location' : 'New Location' %></h1>
  <%= form_for [@trip, @location], html: {class: 'ui form'} do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true %>
  <br/>
  <br/>
  <%= f.submit class: 'ui positive button'%>
  <% end %>
</div>
