<h1>Locations#show</h1>
<p>Find me in app/views/locations/show.html.erb</p>


<h1><%= @location.name %></h1>
<nav>
  <%= link_to 'New Address', new_location_address_path(@location), class: 'ui primary button' %>
  <%= link_to 'Edit', edit_trip_location_path(@location.trip_id, @location), class: 'ui button' %>
  <%= link_to 'Delete', trip_location_path(@location.trip_id, @location),
                        method: :delete,
                        data: { confirm: 'Really Delete?' },
                        class: 'ui negative button' %>
</nav>
<h3> Trip location: <%= link_to @trip.name, trip_path(@trip) %></h3>

<% if @location.addresses.any? %>
  <% @album.songs.each do |song| %>
    <h4> <%= link_to song.title, album_song_path(@album, song) %> </h4>
    <i>
      <%= link_to 'Edit', edit_album_song_path(@album, song), class: 'ui button tiny' %>
    </i>
  <% end %>
<% else %>
  <h4>No Addresses Yet</h4>
<% end %>
